<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
 
  <title>Daffodil</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
  <!-- <script src="main.js"></script> -->
</head>
<body>
   <nav>
     <ul>
       <li>
      
        <a href ="/user">Signup</a>
        <a href ="login">login</a>
        <a href = "/">Homepage</a>
       </li>
     </ul>
   </nav>
   <header>
     <h1>Welcome to daffodil</h1>
     <h2>Homepage</h2>
   </header>
   <main>
     <p>
      
     </p>
   </main>
</body>
</html>